numpy
pandas
jupyterlab
pytest
coverage
click
pydantic
scikit-learn
python-dateutil
torch
wandb
tqdm
matplotlib
torchvision
openai
tenacity
python-dotenv
langchain
transformers
datasets
transformers[torch]