click
coverage
datasets
jupyterlab
langchain
matplotlib
numpy
openai
pandas
pydantic
pytest
python-dateutil
python-dotenv
scikit-learn
tenacity
torch
torchvision
tqdm
transformers
transformers[torch]
wandb
