click
mypy
notebook
#
# accelerate==0.26.1
# ipython==8.18.1
# ipywidgets==8.1.2
# numpy==1.23.5
Pillow==9.4.0
pre-commit
python-dotenv
pyyaml
quanto==0.0.11
# torch==2.1.1
# transformers==4.35.0
sentencepiece==0.2.0
